<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cognitio.ConvNetSharp.Core" version="0.4.12-alpha" targetFramework="net471" />
  <package id="Cognitio.ConvNetSharp.Flow" version="0.4.12-alpha" targetFramework="net471" />
  <package id="Cognitio.ConvNetSharp.Volume" version="0.4.12-alpha" targetFramework="net471" />
  <package id="EMGU.CV" version="4.1.0.3420" targetFramework="net45" />
  <package id="EntityFramework" version="6.3.0-preview5-19254-05" targetFramework="net45" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0-preview5.19224.8" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="19.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>